<div>
  <h1><%= data.name %></h1>
  <ul>
    <li>brand: <%= data.brand %></li>
    <li>price:<%= data.price %></li>
    <li>color:<%= data.color %></li>
    <li>type size: <%= data.size %></li>
  </ul>
  <a href="/">
    <button>kembali</button>
  </a>
</div>
